.model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
   
    background-color: rgb(243, 243, 243);
    width: 90vw;
    
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 2px  dashed rgb(212, 212, 212);
    z-index: 999999;
}
